{% extends 'app/base.html' %}

{% block content %}

<div class ="rectangle">
<section id="about-us">
    
    <h2>About Us</h2>
    <p>Welcome to <strong>JLA Pet Supplies</strong>! We provide top-quality products to keep your pets happy, healthy, and comfortable.</p>
    <br>
    <p>From food and toys to cozy bedding, we offer a wide range of affordable supplies for all kinds of pets. Your pets are family, and we’re here to help you care for them with love and dedication.</p>
    <br>
    <p>Thank you for choosing <strong>JLA Pet Supplies</strong> – where your pets always come first!</p>

</section>
</div>

{% endblock content %}