{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="photo-collage">
        <img src="{% static 'images/catdry.png' %}" alt="Photo 1">
        <img src="{% static 'images/dogs.jpg' %}" alt="Photo 2">
        <img src="{% static 'images/toyss.jpeg' %}" alt="Photo 3">
        <img src="{% static 'images/vit.jpeg' %}" alt="Photo 4">
        <img src="{% static 'images/soap.jpeg' %}" alt="Photo 5">
        <img src="{% static 'images/collar.jpeg' %}" alt="Photo 6">
</div>
{% endblock content %}
